/* ======= import google font ==== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla&family=Lobster&family=Lobster+Two:ital,wght@0,700;1,700&family=Merriweather+Sans:ital,wght@0,400;0,500;1,400&family=Open+Sans:wght@400;800&family=Pacifico&family=Poppins:wght@500;700&family=Signika+Negative:wght@700&family=Work+Sans:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
img{
    width: 100%;
}

/* =======header part styles==== */
.header, .collection{
    padding:0px 360px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 87px;
    padding-bottom: 50px;
}
.logo-name{
    font-weight: 700;
    font-size: 24px;
}

.menu ul{
    display: flex;
    gap: 34px;
}
.menu ul> li{
    list-style: none;
    font-weight: 600;
    font-size: 16px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-info{

}
.banner-title{
    font-weight: 700;
    font-size: 52px;
}
.banner-description{
    font-weight: 600;
    font-size: 16px;
    padding: 16px 0px;
}
.btn-primary, .btn-secondery{
    background-color: #E02C6D;
    color: white;
    border: 0;
    border-radius: 41px;
    padding: 10px 24px;
}
.btn-secondery{
    border-radius: 5px;
}
.banner-image{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;

}
.marketplaces{
    margin-top: 58px;
    padding-bottom: 100px;
}
.marketplaces hr{
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    border: 0;
    height: 1px;
}
.marketplace{
    display: flex;
    gap: 61px;
    justify-content: space-evenly;
    align-items: center;
    padding: 36px 62px;
}

/* ======main part styles======= */

.collection{

}
.popular{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    padding-bottom: 30px;
}
.all-collections{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    justify-items: center;
}
.items{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 329px;
    height: 476px;
    border-radius: 5px;
    padding: 17px 15px;
}
.items img{
    width: 100%;
}
.item-title{
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    padding-top: 16px;
}
.item-price{
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    padding:6px 0px;
}
.item-icon{
    padding-bottom: 6px;
}
.item-icon i{
    color: #FB8200;
    width: 10px;
    height: 9px;
    padding: 3px 2.5px;
}
.rating-number{
    padding-left: 11px;
    color: #5E6366;
    font-weight: 700;
    font-size: 14px;
}
.item-description{
    color: #787885;
    font-weight: 700;
    font-size: 14px;
}
.see-more-title{
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    padding-top: 50px;
    padding-right: 50px;
}
/* ========Featured Products section styles======== */
.featured-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 360px;
}
.featured-title{
    font-weight: 700;
    font-size: 38px;
}
.featured-description{
    color: #6C6C6C;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 0px;
}

/* ============footer section styles========= */
.footer{
    background: #0A0826;
    text-align: center;
    color: #FFFFFF;
    padding: 50px 0px;
}
.footer-title{
    font-weight: 700;
    font-size: 24px;
}
.footer-description{
    font-size: 14px;
    line-height: 24px;
    padding-top: 4px;
    padding-bottom: 17px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 16px;
}


/* Media query works for influencer gear */
/* ==============for mobile screen============ */
@media screen and (max-width:576px) {
    .header, .collection {
        padding: 0px 20px;
    }
    .navigation {
        padding-top: 17px;
        flex-direction: column;
    }
    .menu ul {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .banner {
        flex-direction: column-reverse;
    }
    .banner-info {
        text-align: center;
    }
    .marketplace {
        gap: 15px;
        padding: 15px 0px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .all-collections {
        grid-template-columns: repeat(1, 1fr);
    }
    .items {
        width: 280px;
    }
    .featured-products {
        padding: 50px 60px;
    }
    .featured-products {
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
    }
}

/* for tablet devices */
@media screen and (min-width:577px) and (max-width:1200px) {
    .header, .collection {
        padding: 0px 60px;
    }
    .navigation {
        padding-top: 17px;
        flex-direction: column;
        gap: 20px;
    }
    .banner-title {
        font-size: 40px;
    }
    .banner-description, .featured-description{
        font-size: 10px;
    }
    .featured-title{
        font-size: 25px;
    } 
    .featured-products {
        gap: 15px;
    }
    .all-collections {
        grid-template-columns: repeat(2, 1fr);
    }
    .items {
        width: 280px;
    }
    .featured-products {
        padding: 50px 60px;
    }
}

/* for big laptop devices */
@media screen and (min-width:1201px) and (max-width:1700px) {
    .header, .collection {
        padding: 0px 60px;
    }



    .featured-products {
    padding: 50px 60px;
}
}